extends admin

block details
    .row
        .col-sm-6
            .table-responsive.cart_info
                table.table.table-condensed.total-result
                    thead
                        tr.cart_menu
                            td(colspan=2) Thông tin khách hàng
                    tbody
                        tr
                            td Tên đầy đủ
                            td= orderCustomer.FullName
                        tr
                            td Địa chỉ
                            td= orderCustomer.StreetAddress
                        tr
                            td
                            td= orderCustomer.PostCode + ' ' + orderCustomer.City
                        tr
                            td
                            td= orderCustomer.Country
                        tr
                            td Số điện thoại
                            td= orderCustomer.Phone

        .col-sm-6
            .table-responsive.cart_info
                table.table.table-condensed.total-result
                    thead
                        tr.cart_menu
                            td(colspan=2) Địa chỉ giao hàng
                    tbody
                        tr
                            td Tên đầy đủ
                            td= address.FullName
                        tr
                            td Địa chỉ
                            td= address.StreetAddress
                        tr
                            td
                            td= address.PostCode + ' ' + address.City
                        tr
                            td
                            td= address.Country
                        tr
                            td Số điện thoại
                            td= address.Phone

    .row
        h5 Thông tin đơn hàng
        .table-responsive.cart_info
            table.table.table-condensed
                thead
                    tr.cart_menu
                        td.image
                        td.description Sản phẩm 
                        td.price Giá    
                        td.quantity Số lượng
                        td.total Tổng cộng
                tbody
                    each product in products
                        -var quantity = product.Quantity;
                        -var name = product.ProductName;
                        -var productLink = '/cat/' + product.CategorySlug + '/' + product.ProductSlug;
                        -var unitPrice = product.ProductPrice;
                        -var productTotal = product.Total;
                        tr
                            td.cart_product
                                a(href=productLink)
                                    img(src='/img/products/' + product.Image, alt=name)
                            td.cart_description
                                h4
                                    a(href=productLink)= name
                                p= product.Description
                            td.cart_price
                                p= unitPrice  +  'VND'
                            td.cart_quantity
                                p=quantity
                            td.cart_total
                                p.cart_total_price= productTotal  + ' '

                    tr
                        td(colspan='3')
                        td(colspan='2')
                            table.table.table-condensed.total-result
                                thead
                                    tr.cart_menu
                                        td(colspan=2) Tổng quát

                                tbody
                                    tr
                                        td Tổng giá trị đơn hàng
                                        td= order.SubTotal  + ' VND'
                                    tr
                                        td Giảm giá
                                        td= order.Discount  + ' VND'
                                    tr.shipping-cost
                                        td Phí giao hàng
                                        if order.ShippingFee == 0
                                            td Miễn phí
                                        else
                                            td= order.ShippingFee  + ' VND'
                                    tr
                                        td Tổng phải trả
                                        td
                                            span= order.Total  + ' VND'